@font-face{
    font-family: 'Dream Quacker';
    src: local('Dream Quacker'), url(../fonts/DreamQuacker.ttf) format('truetype');
}

h1 {
    font-family: 'Dream Quacker';
    
    font-weight: 600;
    color: #BDCDD6;
}

.f1{
    font-size: 5em;
    font-weight: 600;
    color: #EEE9DA;
}