@font-face{
    font-family: 'Classicismo';
    src: local('Classicismo'), url(../fonts/Classicismo.otf) format('opentype');
}

h2 {
    font-family: 'Classicismo', 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.bg-light-green{
    background-color: #93BFCF;
}


img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
